(logging/init {:file "/var/log/riemann/riemann.log"})

(require 'riemann.client)

(let [host "0.0.0.0"]
(tcp-server {:host host})
(udp-server {:host host})
(ws-server {:host host})
(repl-server {:host host}))

(periodically-expire 5)

(let [index (index)
  downstream (batch 100 1/10
    (async-queue! :agg { :queue-size 1e3
                         :core-pool-size 4
                          :max-pool-size 32}
      (forward
        (riemann.client/tcp-client :host "riemannc"))))]
  (streams
    (default :ttl 60
      index
      #(info %)
      (where (service #"^riemann.*")
        downstream))))
